<% cache note do %>
  <div id="<%= dom_id note %>" class="my-5 space-y-5">
    <div>
      <strong class="block font-medium mb-1">Title:</strong>
      <%= note.title %>
    </div>
    <div>
      <strong class="block font-medium mb-1">Body:</strong>
      <%= note.body %>
    </div>
    <div>Random: <%= rand(100_000) %> </div>
  </div>
<% end %>
